.navbar {
    width: 100%;
    height: 110px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.877);
    /* position: fixed; */
}
.navbar-width-change {
    width: 70%;
}
.nav-left {
    width: 25%;
    height: 110px;
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nav-right {
    width: 40%;
    height: 110px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
    gap: 25px;
}

.logo {
    width: 30px;
    height: 30px;
    border-radius: 1.2rem;
    margin-right: 10px;
}

h1 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 25px;
}

.navbar a {
    text-decoration: none;
}

h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.login {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 10px;
}

i {
    font-size: 30px;
    color: white;
}

.bi-bag-fill:hover {
    cursor: pointer;
}

.buyNow {
    width: 130px;
    height: 40px;
    border-radius: 1.5rem;
    border: none;
    color: white;
    background-color: rgb(221, 41, 221);
    cursor: pointer;
    transition: 0.5s;
    font-size: 18px;
}

.buyNow:hover {
    background-color: white;
    color: black;
}
.sideBar {
    width: 30%;
    height: 100vh;
    background-color: black;
    position: fixed;
    right: -30%;
    top: 0;
}
.sideBar1 {
    right: 0%;
}
.close {
    background: none;
    border: none;
    cursor: pointer;
}
.sideBar div {
    display: flex;
    align-items:center;
    gap: 5px;
}
.sideBarHead {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sideBarHead h3 {
    margin-left: 20px;
    font-family:'Courier New', Courier, monospace;
    color: black;
}
.bi-x-lg {
    font-size: 20px;
    color: black;
    margin-right: 20px;
}
.emptyMsg {
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}